torch
torchaudio
faster-whisper
numpy==1.26.1
scipy==1.11.2
soundfile
pydub
tqdm
ffmpeg-python
deep-translator
nltk==3.6.6
spacy==3.5.3
requests>=2.31.0
editdistance>=1.0.0
language_tool_python
deepltr